<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androrubin.recruitmentApp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:windowSoftInputMode="adjustPan"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecruitmentApp">
        <activity
            android:name=".Vacancy_details"
            android:exported="false" />
        <activity
            android:name=".RecruiterInfoInput"
            android:exported="true" />
        <activity
            android:name=".RecruiterMainPage"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".EditRecruiterProfile"
            android:exported="false" />
        <activity
            android:name=".SeekerCreateProfile"
            android:exported="false" />
        <activity
            android:name=".SeekerMainActivity"
            android:exported="false" />
        <activity
            android:name=".UploadPhoto"
            android:exported="false" />
        <activity
            android:name=".SeekerProfileView"
            android:exported="false" />
        <activity
            android:name=".RoleSelect"
            android:exported="false"
            android:label="Select a Role" />
        <activity
            android:name=".Login_Activity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>